<p>Thank you <strong>{{name}}</strong> for creating an account with ARCMS.</p>

<p>Your UserName is:<strong>{{Username}}</strong> and Your Activation Code is:<strong>{{activationCode}} </strong>.</p>
